<?xml version="1.0" encoding="UTF-8"?>

<suite name="orangeHRMSuite">
    <test name="orangeHRMTest">
        <classes>
<!--            <class name="com.orangehrm.test.DummyClass"></class>-->
<!--            <class name="com.orangehrm.test.DummyClass2"></class>-->
            <class name="com.orangehrm.test.LoginPageTest"></class>


        </classes>
    </test>

</suite>